body {
  background-color: #ffd27f;
  background-image: url("//beintact.files.wordpress.com/2015/06/vintage-vinyl.gif");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto Condensed', sans-serif, 'Covered+By+Your+Grace';
  color: white;
  width: 850px;
  margin: 0 auto;
}

/* unvisited link */

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */

a:visited {
  color: white;
}

/* mouse over link */

a:hover {
  color: #ffedcc;
}

/* selected link */

a:active {
  color: white;
}

.backgroundheader {
  text-align: center;
  margin: 0;

}
.header {
  font-size: 34px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 15px;
  letter-spacing: 8px;

}
ul.navigationarea {
  list-style-type: none;
  margin: 0 auto;
  text-align: right;
  font-weight: bold;
}

li.listarea {
  display: inline;
  text-align: right;
  margin: 6px;
}
.fa {
  padding: 10px 10px 10px 0px;
  font-size: 30px;
  width: 20px;
  text-align: right;
  text-decoration: none;
  margin: 5px 0px;
}

.fa:hover {
    opacity: 0.7;
}
.blockcontainer {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  justify-content: center;

}
.h1background {
  height: 30px;
  font-size:24px;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
#drink{
  background-color: #ffcc66;

}
#listen {
  background-color: #ffcc66;
}
#turn {
    background-color: #ffcc66;
}
hr {
  border: none;
  height: 40px;
}

.flex {
  width: 820px;
  height: 230px;
  background: #ffcc66;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 25px;
}

#location {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

#contact {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.button {
  background-color: #d3d3d3;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
footer {
  padding-bottom: 5px;
  padding-left: 20px;
  text-align: center;
}
h3 {
  text-transform: uppercase;
}
