body {
  background-color: #ffd27f;
  font-family: 'Roboto Condensed', sans-serif, 'Covered+By+Your+Grace';
  width: 850px;
  height: auto;
  margin: 0 auto;
}

/* unvisited link */

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */

a:visited {
  color: white;
}

/* mouse over link */

a:hover {
  color: black;
}

/* selected link */

a:active {
  color: black;
}

.backgroundheader {
  text-align: center;
  margin: 0;

}
.header {
  font-size: 34px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px;
  letter-spacing: 8px;
  padding-bottom: 15px;


}
/* About nav */
ul.navigationarea {
  list-style-type: none;
  margin: 0 auto;
  text-align: right;
  font-weight: lighter;
  font-size: 18px;
}

li.listarea {
  display: inline;
  text-align: right;
  margin: 5px;
}
/* social media icons */
.fa {
  padding: 10px 10px 10px 0px;
  font-size: 30px;
  width: 20px;
  text-align: right;
  text-decoration: none;
  margin: 5px 0px;
}

.fa:hover {
    opacity: 0.7;
}
/*section1 */
#backgroundimg {
  background: url("//www.billboard.com/files/media/bb27-style-lounge-spiritland-02-london-2016-billboard-1240.jpg");
  width: 810px;
  height: 440px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  box-sizing: border-box;
  margin: 0 auto;
}
.blockcontainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  /* padding-top: 25px;
  padding-left: 20px; */
  box-sizing: border-box;

}

.h1background {
  /* width: 240px; */
  color:#ffd27f;
  text-align: center;
  font-size:60px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-top: 180px;
  padding-bottom: 40px;
}
/* .h1background:nth-child(1){
  border: 5px solid #d3d3d3; */
  /* background-color: #8B4513; */
  /* margin:20px;
} */
/* .h1background:nth-child(3){
  border: 15px solid #000000;
  background-color: #000000;
  margin-bottom: 10px;
}
.h1background:nth-child(5){
  border: 15px solid #2bcdc0;
  background-color: #2bcdc0;
} */
/* section2 */
#backgroundimg2 {
  background: url("//recordstores.info/prez/uploads/Vinyl_Coffee_5.jpg");
  background-repeat: no-repeat;
  width: 810px;
  height: 540px;
  background-attachment: fixed;
  background-position: center bottom;
  margin-left: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}
.blockcontainer2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
.h2background {
  color: black;
  text-align: left;
  font-size:60px;
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 300px;
  /* padding-left: 30px; */
}

/* empty space */
hr {
  border: none;
  padding-top: 5px;
}
/* bottom box */
.flex {
  width: 810px;
  height: 220px;
  /* background: #ffcc66; */
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  color: black;
}

ul {
  list-style-type: none;
  font-size: 18px;
  line-height: 25px;
  color: black;
}


#location {
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

#contact {
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.button {
  background-color: #2bcdc0;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  margin: 8px 2px;
  cursor: pointer;
}
footer {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: black;
}
h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: lighter;
  padding-bottom:8px;
  letter-spacing: 3px;
  color: black;
}

/* (Tablets) */
 @media (max-width: 768px) {
body{
  max-width: 768px;
  width: 100%;
}
.header {
  font-size: 32px;
}
.flex {
  width: 100%;
  max-width: 768px;
  height: auto;
}
.navigationarea, .listarea, .fa {
  margin: 2px;
}
.blockcontainer{
  width: 100%;
  height: auto;
  max-width: 768px;
}
.blockcontainer2 {
  width: 100%;
  height: auto;
  max-width: 768px;
}
.h1background {
  width: 100%;
  max-width: 768px;
  height: auto;
}
.h2background {
  width: 100%;
  max-width: 768px;
  height: auto;
}
#backgroundimg {
  width: 100%;
  height: auto;
  max-width: 768px;
}
#backgroundimg2 {
  width: 100%;
  height: auto;
  max-width: 768px;
  margin-left: 0px;
}
}

/* (mobile) */
@media (max-width: 576px) {
body{
  /* max-width: 576px; */
  width: 100%;
}
.header {
  font-size: 22px;
}
.flex {
  width: 100%;
  max-width: 576px;
  height: auto;
  border-right: none;
  border-left: none;
  padding-left: 5px;
  padding-right: 5px;
}
.navigationarea, .listarea, .fa {
  margin: 2px;
}
.blockcontainer{
  width: 100%;
  height: auto;
  max-width: 576px;
}
.blockcontainer2 {
  width: 100%;
  height: auto;
  max-width: 576px;
}
.h1background {
  width: 100%;
  max-width: 576px;
  height: auto;
}
.h2background {
  width: 100%;
  max-width: 576px;
  height: auto;
}
#backgroundimg {
  width: 100%;
  height: auto;
  max-width: 576px;
}
#backgroundimg2 {
  width: 100%;
  height: auto;
  max-width: 576px;
}


}
